extends base

block content 
    form(method="POST")
        input(name="name", placeholder="Name",type="text", value=loggedInUser.name, required)
        input(name="email", placeholder="Email",type="email", value=loggedInUser.email, required)
        input(name="username", placeholder="User Name",type="text", value=loggedInUser.username, required)
        input(name="location", placeholder="Location",type="text", value=loggedInUser.location, required)
        input(type="submit", placeholder="hello ",value="Update Profile")
        if !loggedInUser.socialOnly
            hr
            a(href="change-password") Change Paswword &rarr;

