extends base

block content 
    if errorMessage 
        span=errorMessage
    form(method="POST")
        input(name="name", placeholder="Name",type="text", required)
        input(name="email", placeholder="Email",type="email", required)
        input(name="username", placeholder="User Name",type="text", required)
        input(name="password", placeholder="Password",type="password", required)
        input(name="password2", placeholder="Confirm Password",type="password", required)
        input(name="location", placeholder="Location",type="text", required)
        input(type="submit", placeholder="hello ",value="Join")
    hr
    div 
        span Already Have An Account?
        a(href="/login") Login Now &rarr;